src/src/06 Common/FileAccessProvider/Service References/SharePointRESTService/SharePointRESTService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SharePointRESTService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64986/Services/SharePointRESTService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64986/Services/SharePointRESTService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64986/Services/SharePointRESTService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISharePointRESTService_GetFileById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileById" />
  </wsdl:message>
  <wsdl:message name="ISharePointRESTService_GetFileById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISharePointRESTService_GetFileByFileName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileByFileName" />
  </wsdl:message>
  <wsdl:message name="ISharePointRESTService_GetFileByFileName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileByFileNameResponse" />
  </wsdl:message>
  <wsdl:message name="ISharePointRESTService_UploadAsStream_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadAsStream" />
  </wsdl:message>
  <wsdl:message name="ISharePointRESTService_UploadAsStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadAsStreamResponse" />
  </wsdl:message>
  <wsdl:message name="ISharePointRESTService_UploadAsByteArray_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadAsByteArray" />
  </wsdl:message>
  <wsdl:message name="ISharePointRESTService_UploadAsByteArray_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadAsByteArrayResponse" />
  </wsdl:message>
  <wsdl:portType name="ISharePointRESTService">
    <wsdl:operation name="GetFileById">
      <wsdl:input wsaw:Action="http://tempuri.org/ISharePointRESTService/GetFileById" message="tns:ISharePointRESTService_GetFileById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISharePointRESTService/GetFileByIdResponse" message="tns:ISharePointRESTService_GetFileById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileByFileName">
      <wsdl:input wsaw:Action="http://tempuri.org/ISharePointRESTService/GetFileByFileName" message="tns:ISharePointRESTService_GetFileByFileName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISharePointRESTService/GetFileByFileNameResponse" message="tns:ISharePointRESTService_GetFileByFileName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadAsStream">
      <wsdl:input wsaw:Action="http://tempuri.org/ISharePointRESTService/UploadAsStream" message="tns:ISharePointRESTService_UploadAsStream_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISharePointRESTService/UploadAsStreamResponse" message="tns:ISharePointRESTService_UploadAsStream_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadAsByteArray">
      <wsdl:input wsaw:Action="http://tempuri.org/ISharePointRESTService/UploadAsByteArray" message="tns:ISharePointRESTService_UploadAsByteArray_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISharePointRESTService/UploadAsByteArrayResponse" message="tns:ISharePointRESTService_UploadAsByteArray_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="SharePointRESTService" />
</wsdl:definitions>